
<div class="full-container">
  <div class="container">
  <h2> Create New Account </h2>
  <%= form_for :user, url: {action: "create"} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :password %>
    <%= f.password_field :password %><br>


    <%= f.submit "Create Account", class: "submit-button"%>

  <% end %>
</div>
  <br>
    <p> Already have an account? <%= link_to "Login here.", new_session_path%></p>
</div>
