<!DOCTYPE html>
<html>
  <head>
    <title>SafetyPin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Homemade+Apple|Oleo+Script:400,700|Permanent+Marker" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav>
    <ul>
    <% if logged_in? %>
      <li><%=link_to "Logout", session_path(current_user), method: :delete%></li>
    <% else %>
      <li><%= link_to("Register", new_user_path)%></li>
      <li><%= link_to("Login", new_session_path )%></li>
    <% end %>
    </ul>

  </nav>
    <%= yield %>
  </body>
</html>
