<!DOCTYPE html>
<html>
  <head>
    <title>SafetyPin</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Bad+Script|Homemade+Apple" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
  <!-- not permanent nav bar, just allowing easy transitions -->
  <nav>
    <ul>
    <% if logged_in? %>
      <li><%=link_to "Logout", session_path(current_user), method: :delete%></li>
    <% else %>
      <li><%= link_to("Register", new_user_path)%></li>
      <li><%= link_to("Login", new_session_path )%></li>
    <% end %>
    </ul>

  </nav>
  <!-- BELLOW facebook login implementation! NOT READY YET -->
    <!-- <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : <%=ENV["appId"]%>,
          xfbml      : true,
          version    : 'v2.8'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div> -->
    <%= yield %>
    <footer class='page-footer'>
      &copy; SafetyPin &#8226; A Phase 4 Hackathon Project By: <a href='https://github.com/marissatraina'>Marissa Traina</a> &#8226; <a href='https://www.github.com/lindsaymkelly'>Lindsay Kelly</a> &#8226; <a href='https://github.com/nanutza'>Nan Min</a>
    </footer>
  </body>
</html>
