<!DOCTYPE html>
<html>
  <head>
    <title>SafetyPin</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Bad+Script|Homemade+Apple" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
  <!-- not permanent nav bar, just allowing easy transitions -->
  <% if logged_in? %>
  <nav>
    <ul>
      <li><%=link_to "Logout", session_path(current_user), method: :delete%></li>
    </ul>
  </nav>
  <% end %>
    <%= yield %>

    <% if logged_in? %>
    <footer class='page-footer'>
      &copy; SafetyPin &#8226; A Phase 4 Hackathon Project By: <a href='https://github.com/marissatraina'>Marissa Traina</a> &#8226; <a href='https://www.github.com/lindsaymkelly'>Lindsay Kelly</a> &#8226; <a href='https://github.com/nanutza'>Nan Min</a>
    </footer>
    <% end %>
  </body>
</html>
